@model DashBoardDto

@{
    ViewData["Title"] = "Dashboard";
}

<div class="page-container">

    <!-- Header -->
    <div class="header">
        <h2>CRM Dashboard</h2>

        <div class="actions">
            <a asp-controller="Appointments"
               asp-action="Create"
               class="btn-save"
               style="text-decoration:none">
                + New Appointment
            </a>
        </div>
    </div>

    @if (TempData["Success"] != null)
    {
        <div class="alert-success">
            @TempData["Success"]
        </div>
    }

    <div class="dashboard-grid">

        <div class="dashboard-card">
            <h4>Total Doctors</h4>
            <h2>@Model.TotalDoctors</h2>
        </div>

        <div class="dashboard-card">
            <h4>Total Patients</h4>
            <h2>@Model.TotalPatients</h2>
        </div>

        <div class="dashboard-card">
            <h4>Total Appointments</h4>
            <h2>@Model.TotalAppointments</h2>
        </div>

        <div class="dashboard-card">
            <h4>Completed</h4>
            <h2>@Model.CompletedAppointments</h2>
        </div>

        <div class="dashboard-card">
            <h4>Schedule Appointments</h4>
            <h2>@Model.ScheduleAppointments</h2>
        </div>

        <div class="dashboard-card">
            <h4>Cancelled</h4>
            <h2>@Model.CancelledAppointments</h2>
        </div>

        <div class="dashboard-card">
            <h4>Total Revenue</h4>
            <h2>₹@Model.TotalRevenue.ToString("N2")</h2>
        </div>

        <div class="dashboard-card">
            <h4>Average Rating</h4>
            <h2>@Model.AverageDoctorRating.ToString("0.0") ⭐</h2>
        </div>

    </div>

    <!-- Todays Appointments -->
    <div class="table-container" style="margin-top:30px;">

        <div class="header" style="margin-bottom:20px;">
            <h2>Todays Appointments</h2>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.TodayAppointments.Any())
                {
                    @foreach (var appointment in Model.TodayAppointments)
                    {
                        <tr>

                            <td>@appointment.PatientName</td>

                            <td>@appointment.DoctorName</td>

                            <td>@appointment.AppointmentDate.ToString("dd MMM yyyy")</td>

                            <td>
                                @appointment.startTime.ToString(@"hh\:mm")
                                -
                                @appointment.EndTime.ToString(@"hh\:mm")
                            </td>

                            <td>@appointment.Status</td>

                            <td>
                                <a asp-controller="Appointments"
                                   asp-action="Details"
                                   asp-route-id="@appointment.id"
                                   class="btn-edit">
                                    Details
                                </a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            No appointments today.
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

    <!-- Scheduled Appointments -->
    <div class="table-container" style="margin-top:30px;">

        <div class="header" style="margin-bottom:20px;">
            <h2>Scheduled Appointments</h2>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.ScheduledAppointmentsList.Any())
                {
                    @foreach (var appointment in Model.ScheduledAppointmentsList)
                    {
                        <tr>

                            <td>@appointment.PatientName</td>

                            <td>@appointment.DoctorName</td>

                            <td>@appointment.AppointmentDate.ToString("dd MMM yyyy")</td>

                            <td>
                                @appointment.startTime.ToString(@"hh\:mm")
                                -
                                @appointment.EndTime.ToString(@"hh\:mm")
                            </td>

                            <td>@appointment.Status</td>

                            <td>
                                <a asp-controller="Appointments"
                                   asp-action="Details"
                                   asp-route-id="@appointment.id"
                                   class="btn-edit">
                                    Details
                                </a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            No Scheduled found.
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

    <!-- Upcoming Appointments -->
    <div class="table-container" style="margin-top:30px;">

        <div class="header" style="margin-bottom:20px;">
            <h2>Upcoming Appointments</h2>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.UpcomingAppointments.Any())
                {
                    @foreach (var appointment in Model.UpcomingAppointments)
                    {
                        <tr>

                            <td>@appointment.PatientName</td>

                            <td>@appointment.DoctorName</td>

                            <td>@appointment.AppointmentDate.ToString("dd MMM yyyy")</td>

                            <td>
                                @appointment.startTime.ToString(@"hh\:mm")
                                -
                                @appointment.EndTime.ToString(@"hh\:mm")
                            </td>

                            <td>@appointment.Status</td>

                            <td>
                                <a asp-controller="Appointments"
                                   asp-action="Details"
                                   asp-route-id="@appointment.id"
                                   class="btn-edit">
                                    Details
                                </a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            No upcoming appointments found.
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
    <!-- Recent Appointments -->
    <div class="table-container" style="margin-top:30px;">

        <div class="header" style="margin-bottom:20px;">
            <h2>Recent Appointments</h2>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.RecentAppointments.Any())
                {
                    @foreach (var appointment in Model.RecentAppointments)
                    {
                        <tr>

                            <td>@appointment.PatientName</td>

                            <td>@appointment.DoctorName</td>

                            <td>@appointment.AppointmentDate.ToString("dd MMM yyyy")</td>

                            <td>
                                @appointment.startTime.ToString(@"hh\:mm")
                                -
                                @appointment.EndTime.ToString(@"hh\:mm")
                            </td>

                            <td>@appointment.Status</td>

                            <td>
                                <a asp-controller="Appointments"
                                   asp-action="Details"
                                   asp-route-id="@appointment.id"
                                   class="btn-edit">
                                    Details
                                </a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            No recent appointments found.
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

<div class="charts">

    @* Pie Chart *@
    <div class="card shadow-sm chart-card">
        <div class="card-header">
            <h5>Appointment Status</h5>
        </div>

        <div class="card-body">
            <div class="chart-container">
                <canvas id="appointmentStatusChart"></canvas>
            </div>
        </div>
    </div>

    @* Line Chart *@
    <div class="card shadow-sm chart-card">
        <div class="card-header">
            <h5>Monthly Appointments</h5>
        </div>

        <div class="card-body">
            <canvas id="monthlyAppointmentsChart"></canvas>
        </div>
    </div>

</div>

<script>
    window.appointmentStatusData = @Html.Raw(JsonSerializer.Serialize(Model.appointmentStatusChart));
    window.monthlyappointments = @Html.Raw(JsonSerializer.Serialize(Model.monthlyAppointmentChart));

</script>

@section Scripts{
    <script src="~/js/dashBoard.js"></script>
}