@{
    var currentFilter = Context.Request.Query["filter"].ToString().ToLower();
}


@model BusinessInsightsDto

<div class="business-header">

    <div class="header-content">

        <h2>Business Insights</h2>
        <h5>@ViewBag.Filter</h5>

        <p>
            Monitor clinic performance, revenue, appointments,
            and doctor productivity.
        </p>

    </div>

    <div class="date-filter">

        <a asp-action="Index"
           asp-route-filter="today"
           class="filter-btn @(currentFilter == "today" || string.IsNullOrEmpty(currentFilter) ? "active" : "")">
            Today
        </a>

        <a asp-action="Index"
           asp-route-filter="week"
           class="filter-btn @(currentFilter == "week" ? "active" : "")">
            Week
        </a>

        <a asp-action="Index"
           asp-route-filter="month"
           class="filter-btn @(currentFilter == "month" ? "active" : "")">
            Month
        </a>

        <a asp-action="Index"
           asp-route-filter="quarter"
           class="filter-btn @(currentFilter == "quarter" ? "active" : "")">
            Quarter
        </a>

        <a asp-action="Index"
           asp-route-filter="sixmonths"
           class="filter-btn @(currentFilter == "sixmonths" ? "active" : "")">
            6 Months
        </a>

        <a asp-action="Index"
           asp-route-filter="year"
           class="filter-btn @(currentFilter == "year" ? "active" : "")">
            1 Year
        </a>

        <a asp-action="CustomDateFilter"
           class="filter-btn @(Context.Request.Path.Value!.Contains("CustomDateFilter") ? "active" : "")">
            <i class="bi bi-calendar3"></i>
            Custom
        </a>

    </div>

</div>

<section class="analytics-section">

    @* Appoinentment Analytics charts  *@
    <div class="analytics-header">

        <h2>Appointment Analytics</h2>

        <p>
            Monitor appointment trends, doctor workload and scheduling performance.
        </p>

    </div>

    <div class="appointment-analytics-grid">

        <div class="analytics-card">

            <div class="card-header">
                <h4>Appointment Status</h4>
            </div>

            <canvas id="appointmentStatusChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Appointment Trend</h4>
            </div>

            <canvas id="appointmentTrendChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Appointments by Doctor</h4>
            </div>

            <canvas id="appointmentsByDoctorChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Peak Appointment Hours</h4>
            </div>

            <canvas id="peakHoursChart"></canvas>

        </div>

    </div>

    <div class="analytics-header">

        <h2>Revenue Analytics</h2>

        <p>
            Monitor revenue trends, doctor earnings and financial performance.
        </p>

    </div>

    <div class="appointment-analytics-grid">

        <div class="analytics-card">

            <div class="card-header">
                <h4>Revenue Trend</h4>
            </div>

            <canvas id="revenueTrendChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Revenue by Doctor</h4>
            </div>

            <canvas id="revenueByDoctorChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Top Revenue Generating Doctors</h4>
            </div>

            <canvas id="topRevenueDoctorsChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Average Revenue per Appointment</h4>
            </div>

            <canvas id="averageRevenueChart"></canvas>

        </div>

    </div>

</section>









<script>
    // appointment Analytics
    window.appointmentStatus = @Html.Raw(JsonSerializer.Serialize(Model.GetAppointmentStatuses))
    window.appointmentTrend = @Html.Raw(JsonSerializer.Serialize(Model.GetAppointmentsTrend))
    window.appointmentByDoctors = @Html.Raw(JsonSerializer.Serialize(Model.GetAppointmentsByDoctors))
    window.peakAppointmentHours = @Html.Raw(JsonSerializer.Serialize(Model.GetPeakAppointmentsHours))

    //Revenue Analytics
    window.revenueTrend = @Html.Raw(JsonSerializer.Serialize(Model.GetRevenueTrends))
    window.revenueByDoctor = @Html.Raw(JsonSerializer.Serialize(Model.GetRevenueByDoctors))
    window.topRevenueGeneratedByDoctor = @Html.Raw(JsonSerializer.Serialize(Model.GetTopRevenueGeneratingDoctors))
    window.averageRevenueByDoctor = @Html.Raw(JsonSerializer.Serialize(Model.GetAverageRevenueGeneratedByDoctors))
    
</script>

@section Scripts{
    <script src="~/js/BusinessInsights.js" asp-append-version="true"></script>
}