
@model PagedResult<DoctorDto>

@{
    ViewData["Title"] = "Doctors";
}

<div class="page-container">

    <!-- Header -->
    <div class="header">
        <h2>Doctors</h2>

        <div class="actions">
            <a asp-action="Create" class="btn-save" style="text-decoration:none">
                + Add Doctor
            </a>
        </div>
    </div>

    <!-- Search & Filter -->
    <form method="get" class="filter-bar">

        <select name="searchBy" >
            <option value="FullName" selected="@(Context.Request.Query["searchBy"] == "FullName")">Full Name</option>
            <option value="Email" selected="@(Context.Request.Query["searchBy"] == "Email")">Email</option>
            <option value="Qualification" selected="@(Context.Request.Query["searchBy"] == "Qualification")">Qualification</option>
            <option value="Specialization" selected="@(Context.Request.Query["searchBy"] == "Specialization")">Specialization</option>
        </select>

        <input type="text"
               name="searchString"
               value="@Context.Request.Query["searchString"]"
               placeholder="Search doctor..." />

        <select name="sortBy">
            <option value="FullName" selected="@(Context.Request.Query["sortBy"] == "FullName")">Name</option>
            <option value="ExperienceYears" selected="@(Context.Request.Query["sortBy"] == "ExperienceYears")">Experience</option>
            <option value="ConsultationFee" selected="@(Context.Request.Query["sortBy"] == "ConsultationFee")">Fee</option>
        </select>

        <select name="sortOrder">
            <option value="asc" selected="@(Context.Request.Query["sortOrder"] == "asc")">Ascending</option>
            <option value="desc" selected="@(Context.Request.Query["sortOrder"] == "desc")">Descending</option>
        </select>

        <button type="submit" class="btn-search">
            Search
        </button>

        <a asp-action="Index" class="btn-cancel">
            Reset
        </a>

    </form>

    @if (TempData["Success"] != null)
    {
        <div class="alert-success">
            @TempData["Success"]
        </div>
    }
    <!-- Table -->
    <div class="table-container">

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Qualification</th>
                    <th>Experience</th>
                    <th>Fee</th>
                    <th>Specialization</th>
                    <th>Info</th>
                    @* <th>Actions</th> *@
                </tr>
            </thead>

            <tbody>

                @if (Model.Items.Any())
                {
                    @foreach (var doctor in Model.Items)
                    {
                        <tr>
                            <td>@doctor.FullName</td>
                            <td>@doctor.User.Email</td>
                            <td>@doctor.Qualification</td>
                            <td>@doctor.ExperienceYears Years</td>
                            <td>₹@doctor.ConsultationFee.ToString("N2")</td>
                            <td>@doctor.SpecializationName</td>

                            <td>
                                <a asp-action="Details"
                                    asp-controller="Doctor"
                                   asp-route-id="@doctor.Id"
                                class="btn-info">
                                    Details
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">
                            No doctors found.
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

    <!-- Pagination -->
    <div class="pagination">

        @if (Model.PageNumber > 1)
        {
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageNumber - 1)"
               class="page-btn">
                Prev
            </a>
        }

        <span class="page-info">
            Page @Model.PageNumber of @Model.TotalPages
        </span>

        @if (Model.PageNumber < Model.TotalPages)
        {
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageNumber + 1)"
               class="page-btn">
                Next
            </a>
        }

    </div>

</div>